/*Daniel "Akiern" Courtemanche*/
h1
/*All changes applied to h1*/
{
color: gold;
/*text color with in parent*/
text-align: center;
/*aligns text center of the page*/
font-size: 75px;
/*text size based on pixel*/
text-shadow: 10px 10px 10px darkgoldenrod;
/*text shadow opsition vert,horiz,width color*/
}

body
/*All changes applied to body*/
{
    background-image: url(40KTau.jpg);
    /*adding backgrouund image for location*/
    background-position-x: center;
    /*use specific code -x to control horizontal axis*/
    height: 160vh;
    /*view height of the page*/
}

p
/*All changes applied to non id paragraph*/
{
color: goldenrod;

}